.star {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    .star-name {
        font-size: 2vw;
    }
}

@media (max-width: 800px) {
    .star {
        flex-direction: column;
    }
}
