.planet-container {
    overflow: hidden;
    .planet-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        .outer-glow-wrapper {
            animation: scaling 1s;
            position: absolute;
            height: 100%;
            width: 100%;

            .outer-glow {
                position: absolute;
                border-radius: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 69%;
                width: 69%;
                background-color: #000;

                &.glow-0 {
                }

                &.glow-1 {
                }
            }
        }

        .inner-glow-wrapper {
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .inner-glow {
            }
        }

        .outer-layer-wrapper {
            position: absolute;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            .outer-layer {
            }
        }

        .surface .gradient-wrapper {
            animation: scaling 1s;
            margin: 0 auto;
        }
        .surface-wrapper {
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            width: 70%;
            height: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .inner-layer-wrapper {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                .inner-layer {
                    position: absolute;
                    top: 0;
                    left: 0;

                    &.layer-0 {
                        animation: planet-inner-layer-0 17s linear infinite;
                    }

                    &.layer-1 {
                        animation: planet-inner-layer-1 20s linear infinite;
                    }

                    &.layer-2 {
                        animation: planet-inner-layer-2 25s linear infinite;
                    }
                }
            }
        }
    }
}

@keyframes planet-inner-layer-0 {
    0% {
        transform: translateX(25%);
        opacity: 1;
    }
    50% {
        transform: translateX(90%);
    }
    51% {
        transform: translateX(-100%);
        opacity: 0;
    }
    52% {
        transform: translateX(-100%);
    }
    53% {
        transform: translateX(-100%);
        opacity: 1;
    }
    100% {
        transform: translateX(90%);
    }
}
@keyframes planet-inner-layer-1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(50%);
    }
}
@keyframes planet-inner-layer-2 {
    0% {
        transform: translateX(5%);
        opacity: 1;
    }
    50% {
        transform: translateX(30%);
    }
    51% {
        transform: translateX(-100%);
        opacity: 0;
    }
    52% {
        transform: translateX(-100%);
    }
    53% {
        transform: translateX(-100%);
        opacity: 1;
    }
    100% {
        transform: translateX(30%);
    }
}
