.planet-wrapper {
    .gradient-wrapper {
        animation: scaling 1s;
        margin: 0 auto;
    }
    .surface-wrapper {
        overflow: hidden;
        .surface {
            .first {
                animation: surfaceanimation 7s infinite;
                position: absolute;
                fill: green;

                @keyframes surfaceanimation {
                    0% {
                        transform: translateX(-150%);
                    }
                    100% {
                        transform: translateX(50%);
                    }
                }
            }
            .second {
                position: absolute;
                fill: purple;
                animation: secondsurfaceanimation 10s infinite;

                @keyframes secondsurfaceanimation {
                    0% {
                        transform: translateX(-100%);
                    }
                    100% {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
}
