body {
    text-align: center;
    background-color: #282c34;
    color: white;
}

.nav-buttons {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;

    .fancy-button {
        margin-right: 15px;
    }
}

.starfield {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
