.solar-system {
    display: flex;
    flex-direction: column;

    .nav-buttons {
        position: fixed;
        top: 15px;
        left: 15px;
    }
    .fancy-button {
        margin-right: 15px;
    }

    .star-wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .planet-wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@keyframes orbit-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes orbit-left {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
