.solar-system {
    display: flex;
    flex-direction: column;

    &.orbit {
        .orbit-wrapper {
            .star-wrapper {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .planet-orbit-wrapper {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                .planet-orbit {
                    position: relative;
                    padding: 0;
                    border-radius: 50%;
                    list-style: none;
                    box-sizing: content-box;
                    width: 25em;
                    height: 25em;
                    animation: clockwiseRotate 35s linear infinite;
                    .planet-wrapper {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: -0.8em;
                        .planet {
                            animation: counterClockwiseRotate 35s linear infinite;
                        }
                    }
                }
            }
        }
    }
}
@keyframes clockwiseRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counterClockwiseRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
